include nodezator/app_icon.png
include nodezator/glossary.rst
include nodezator/data/app_themes/emeralds_on_coal.pyl
include nodezator/data/fonts/OFL_license_for_all_other_fonts.txt
include nodezator/data/fonts/cc0_license_for_nodezator_icons.txt
include nodezator/data/fonts/enc_sans_sexp_bold_mplus_1p_2000em_med.ttf
include nodezator/data/fonts/fira_mono_bold_mplus_1m_med.ttf
include nodezator/data/fonts/nodezator_icons.ttf
include nodezator/data/fonts/noto_sans_bold.ttf
include nodezator/data/fonts/noto_sans_italic.ttf
include nodezator/data/fonts/noto_sans_mono_medium.ttf
include nodezator/data/fonts/noto_sans_regular.ttf
include nodezator/data/images/README.txt
include nodezator/data/images/colors_editor_scale_images.png
include nodezator/data/images/discord_logo.png
include nodezator/data/images/indiepython_logo.png
include nodezator/data/images/kennedy_logo.png
include nodezator/data/images/mask_wave.png
include nodezator/data/images/patreon_logo.png
include nodezator/data/images/pygame_logo.png
include nodezator/data/images/python_filemanager_icon.png
include nodezator/data/images/python_menu_icon.png
include nodezator/data/images/python_splashscreen_icon.png
include nodezator/data/images/splash_nodezator_robot.png
include nodezator/data/images/twitter_logo.png
include nodezator/data/images/unlicense_logo.png
include nodezator/data/locale/en_us/aww/help.nodezator.pysite/general-controls.htsl
include nodezator/data/locale/en_us/aww/help.nodezator.pysite/index.htsl
include nodezator/data/locale/en_us/aww/help.nodezator.pysite/text-editor.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/appendix-a-color-coded-annotations.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/appendix-b-intfloat-words.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/appendix-c-widget-configurations.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/appendix-d-widget-presets.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch01-defining-your-first-node.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch02-defining-viewer-nodes.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch03-nodes-variable-parameters-custom-outputs.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch04-more-ways-define-nodes.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch05-loading-nodes.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch06-color-coding-inputs-outputs.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch07-basic-way-define-widgets.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch08-full-syntax-more-widgets.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch09-widget-presets-more-widgets.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch10-preview-widgets.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch11-other-objects.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch12-ways-using-nodezator.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch01_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch01_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch02_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch03_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch03_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch03_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch03_img03.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch06_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch06_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch06_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch06_img03.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch06_img04.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch06_img05.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch07_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch07_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch07_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch07_img03.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch07_img04.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch07_img05.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch07_img06_and_07.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch07_img08.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch08_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch08_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch09_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch09_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch09_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch09_img03.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch09_img04.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch09_img05.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch10_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch10_img01_0.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch10_img01_1.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch10_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch10_img03_0.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch10_img03_1.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch10_img04_0.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch10_img04_1.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch10_img05_0.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch10_img05_1.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch11_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch11_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch11_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch11_img03.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch11_img04.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch11_img05.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch11_img06.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/index.htsl
include nodezator/data/locale/en_us/aww/nodezator.pysite/about.htsl
include nodezator/data/locale/en_us/aww/nodezator.pysite/license.htsl
include nodezator/data/locale/en_us/dialogs_map.pyl
include nodezator/data/locale/en_us/status_messages_map.pyl
include nodezator/data/locale/en_us/translations_map.pyl
include nodezator/data/locale/pt_br/dialogs_map.pyl
include nodezator/data/locale/pt_br/status_messages_map.pyl
include nodezator/data/locale/pt_br/translations_map.pyl
include nodezator/data/syntax_themes/comment/fresh_eucalyptus_dark.pyl
include nodezator/data/syntax_themes/comment/pale_green.pyl
include nodezator/data/syntax_themes/python/ice_with_candy.pyl
include nodezator/data/syntax_themes/python/sprinkled_dark.pyl
include nodezator/data/syntax_themes/user_log/message_temperature.pyl
include nodezator/data/syntax_themes/user_log/message_temperature_dark.pyl
