include nodezator/app_icon.png
include nodezator/glossary.rst
include nodezator/data/app_themes/emeralds_on_coal.pyl
include nodezator/data/fonts/OFL_license_for_all_other_fonts.txt
include nodezator/data/fonts/cc0_license_for_nodezator_icons.txt
include nodezator/data/fonts/enc_sans_sexp_bold_mplus_1p_2000em_med.ttf
include nodezator/data/fonts/fira_mono_bold_mplus_1m_med.ttf
include nodezator/data/fonts/nodezator_icons.ttf
include nodezator/data/fonts/noto_sans_bold.ttf
include nodezator/data/fonts/noto_sans_italic.ttf
include nodezator/data/fonts/noto_sans_mono_medium.ttf
include nodezator/data/fonts/noto_sans_regular.ttf
include nodezator/data/images/README.txt
include nodezator/data/images/colors_editor_scale_images.png
include nodezator/data/images/discord_logo.png
include nodezator/data/images/github_mark.png
include nodezator/data/images/indie_python_logo.png
include nodezator/data/images/kennedy_logo.png
include nodezator/data/images/mask_wave.png
include nodezator/data/images/patreon_logo.png
include nodezator/data/images/pygame_logo.png
include nodezator/data/images/python_filemanager_icon.png
include nodezator/data/images/python_menu_icon.png
include nodezator/data/images/python_splashscreen_icon.png
include nodezator/data/images/splash_nodezator_robot.png
include nodezator/data/images/twitter_logo.png
include nodezator/data/images/unlicense_logo.png
include nodezator/data/locale/en_us/aww/help.nodezator.pysite/general-controls.htsl
include nodezator/data/locale/en_us/aww/help.nodezator.pysite/index.htsl
include nodezator/data/locale/en_us/aww/help.nodezator.pysite/text-editor.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/appendix-color-coded-annotations.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/appendix-intfloat-words.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/appendix-widget-configurations.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/appendix-widget-presets.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-basic-way-define-widgets.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-color-coding-inputs-outputs.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-defining-complex-viewer-nodes.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-defining-viewer-nodes.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-defining-your-first-node.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-full-syntax-more-widgets.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-loading-nodes.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-more-ways-define-nodes.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-nodes-variable-parameters-custom-outputs.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-other-objects.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-preview-widgets.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/ch-widget-presets-more-widgets.htsl
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-basic-way-define-widgets_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-basic-way-define-widgets_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-basic-way-define-widgets_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-basic-way-define-widgets_img03.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-basic-way-define-widgets_img04.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-basic-way-define-widgets_img05.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-basic-way-define-widgets_img06_and_07.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-basic-way-define-widgets_img08.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-color-coding_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-color-coding_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-color-coding_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-color-coding_img03.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-color-coding_img04.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-color-coding_img05.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-defining-viewer-nodes_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-defining-your-first_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-defining-your-first_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-full-syntax_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-full-syntax_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-nodes-variable-parameters_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-nodes-variable-parameters_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-nodes-variable-parameters_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-nodes-variable-parameters_img03.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-other-objects_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-other-objects_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-other-objects_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-other-objects_img03.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-other-objects_img04.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-other-objects_img05.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-other-objects_img06.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-preview-widgets_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-preview-widgets_img01_0.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-preview-widgets_img01_1.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-preview-widgets_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-preview-widgets_img03_0.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-preview-widgets_img03_1.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-preview-widgets_img04_0.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-preview-widgets_img04_1.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-preview-widgets_img05_0.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-preview-widgets_img05_1.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-widget-presets_img00.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-widget-presets_img01.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-widget-presets_img02.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-widget-presets_img03.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-widget-presets_img04.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/images/ch-widget-presets_img05.png
include nodezator/data/locale/en_us/aww/manual.nodezator.pysite/index.htsl
include nodezator/data/locale/en_us/aww/nodezator.pysite/about.htsl
include nodezator/data/locale/en_us/aww/nodezator.pysite/license.htsl
include nodezator/data/locale/en_us/dialogs_map.pyl
include nodezator/data/locale/en_us/status_messages_map.pyl
include nodezator/data/locale/en_us/translations_map.pyl
include nodezator/data/locale/pt_br/dialogs_map.pyl
include nodezator/data/locale/pt_br/status_messages_map.pyl
include nodezator/data/locale/pt_br/translations_map.pyl
include nodezator/data/syntax_themes/comment/fresh_eucalyptus_dark.pyl
include nodezator/data/syntax_themes/comment/pale_green.pyl
include nodezator/data/syntax_themes/python/ice_with_candy.pyl
include nodezator/data/syntax_themes/python/sprinkled_dark.pyl
include nodezator/data/syntax_themes/user_log/message_temperature.pyl
include nodezator/data/syntax_themes/user_log/message_temperature_dark.pyl